{% extends "playground/two_columns.html" %}

{% load i18n %}

{% block title %}{% trans "User panel" %}{% endblock %}

{% block top_title %}
  <i class="fas fa-user-cog"></i>&nbsp;{% trans "User panel" %}
{% endblock %}

{% block left_column %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Personal settings</h5>

    <div class="list-group list-group-flush">
      {% url 'user_app:profile' as url_profile %}
      <a href="{{ url_profile }}" class="list-group-item list-group-item-action {% if request.path == url_profile %}active{% endif %}">
        <i class="fas fa-user fa-fw mr-2"></i>{% trans "User settings" %}
      </a>

      <a href="{% url 'login' %}" class="list-group-item list-group-item-action disabled">
        <i class="fas fa-key fa-fw mr-2"></i>{% trans "Change password" %}
      </a>

      {% url 'user_app:statistics' as url_statistics %}
      <a href="{{ url_statistics }}" class="list-group-item list-group-item-action {% if request.path == url_statistics %}active{% endif %}">
        <i class="fas fa-chart-line fa-fw mr-2"></i>{% trans "Statistics" %}
      </a>
    </div>
  </div>
</div>
{% endblock %}
