@import url("highlight.css");

img {
    max-width: 100%;
}

.task-list {
    list-style: none;
    padding-left: 20px;
}

.task-list .task-list {
    padding-left: 40px;
}

.emojione {
    width: 32px; height: 32px;
}

div.alert p:last-child{
    margin-bottom: 0;
}

dd {
    margin-left: 2rem;
}

div.highlight {
    padding: 1rem;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 1rem;
}

div.highlight code [data-linenos]:after {
    content: attr(data-linenos);
    /* background: rgba(0,0,0,0.1); */
    background: #e3ddcc;
    padding-left: 0.5em;
    margin-right: 0.5em;
    z-index: 1;
    position:sticky;
    left: 0;
    display: inline-block;
}

div.highlight code span.lineno-hll:after {
    background: #e9e4a3;
}

div.highlight code span.lineno-hll:before {
    content: " ";
    background: rgba(255, 255, 0, 0.2);
    display: block;
    position: sticky;;
    /* height:10px; */
    width: 100%;
    left:0;
    z-index: -1;
    margin-bottom: -28px; /* HACK: remove fixed value */
}

div.highlight pre, div.linenodiv pre {
    margin-bottom: 0;
}

div.highlight pre {
    position: relative;
    z-index: 0;
}

div.linenodiv {
    background: #eee;
    padding: 1rem 0.75rem;
    padding-right: 0.5rem;
}

/* selected lines highlighting */
span.hll {
    /* background: yellow !important; */
    background: transparent !important;
    /* width: 100%; */
    /* display:block; */
}

/* span.hll:before {
    content: " ";
    background: yellow;
    width: 100%;
    left: 0;
    display: block;
    position: absolute;
} */

@media (max-width: 576px) {
    img.float-right, img.float-right {
        float: none !important;
        display: block;
        margin: 10px auto !important;
    }
}

.responsive-box {
    background: url(https://via.placeholder.com/300x200?text=xs);
    min-height: 200px;
    width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .responsive-box {
        background: url(https://via.placeholder.com/300x200?text=sm);
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .responsive-box {
        background: url(https://via.placeholder.com/300x200?text=md);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .responsive-box {
        background: url(https://via.placeholder.com/300x200?text=lg);
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .responsive-box {
        background: url(https://via.placeholder.com/300x200?text=xl);
    }
}
