Django>=3.0
django-widget-tweaks
psycopg2
django-polymorphic
django-admin-sortable2

# The friendly PIL fork (Python Imaging Library) [for supporting ImageField]
Pillow


## Rendering markdown ##
Markdown
python-frontmatter
pymdown-extensions

# Used for augmenting markdown generated HTML with bootstrap classes
beautifulsoup4
html5lib

# Pygments is a syntax highlighting package written in Python.
Pygments

pylama
flake8-bugbear
flake8-comprehensions
flake8-expression-complexity


## DEPLOYMENT ###

# gunicorn 'Green Unicorn' is a WSGI HTTP Server for UNIX, fast clients and sleepy applications.
gunicorn

# Get and set values in your .env file in local and production servers.
python-dotenv

# Radically simplified static file serving for Python web apps
whitenoise
