Django>=3.0
Markdown
python-frontmatter
pymdown-extensions
django-widget-tweaks
psycopg2
django-polymorphic
django-admin-sortable2

# Used for augmenting markdown generated HTML with bootstrap classes
beautifulsoup4

# Pygments is a syntax highlighting package written in Python.
Pygments

pylama
flake8-bugbear
flake8-comprehensions
flake8-expression-complexity

## DEPLOYMENT ###

# gunicorn 'Green Unicorn' is a WSGI HTTP Server for UNIX, fast clients and sleepy applications.
gunicorn
