{% extends 'playground/modal.html' %}

{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block modal_title %}{{ title }}{% endblock %}
{% block modal_text %}{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}{% endblock %}

{% block modal_content %}
  <form method="POST">
    {% csrf_token %}

    {% include "playground/_form.html" %}

    <button type="submit" class="btn btn-primar y">{% trans 'Reset my password' %}</button>
    <a href="{% url 'login' %}" class="btn btn-link">Cancel</a>
  </form>
{% endblock %}
