{% extends 'playground/modal.html' %}

{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{{ title }}{% endblock %}

{% block content %}
  <form method="post">{% csrf_token %}
    <p class="text-justify ">{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

    {% include "playground/_form.html" %}

    <button type="submit" class="btn btn-primary">{% trans 'Reset my password' %}</button>
  </form>
{% endblock %}
