{% load i18n %}

<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <!-- FIXME: correctly mark curent page -->
    <a class="nav-link" href="#">{% trans "Main Page" %} <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url "course_app:index" %}">{% trans "Courses" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/pomoc/">{% trans "Authors" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pomoc/">{% trans "Help" %}</a>
  </li>
</ul>
