{% load i18n %}

{% if user.is_authenticated %}
<div class="btn-group ml-lg-3 rounded-pill">
  <button type="button" class="rounded-pill btn  pl-0 py-0 pr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:#dadada">
    <img src="{{ user.avatar_url }}" height="36" class="border-primary rounded-circle mr-1"/>
    <span style="line-height:36px">{{ user.display_name }}</span>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{% url 'user_app:profile' %}">{% trans "User panel" %}</a>
    {% if user.is_staff %}
      <a class="dropdown-item" href="/admin">{% trans "Admin panel" %}</a>
    {% endif %}
    {# <a class="dropdown-item" href="#">Another action</a> #}
    {# <a class="dropdown-item" href="#">Something else here</a> #}
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'logout' %}">{% trans "Logout" %}</a>
  </div>
</div>
{% else %}
  <a class="btn btn-outline-primary rounded-pill ml-3 pr-3" href="{% url 'login' %}"><i class="fas fa-sign-in-alt fa-fw"></i> {% trans "Login" %}</a>
{% endif %}
