{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %} – Hearty Playground</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Margarine&family=Source+Code+Pro&display=swap" rel="stylesheet">

  <link rel="icon" href="{% static "playground/favicon.png" %}" sizes="32x32" />

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static "markdown_editor/css/markdown_defaults.css" %}" />
  <link rel="stylesheet" href="{% static "playground/css/base.css" %}" />
</head>


<body class="d-flex flex-column">

<nav id="main-navbar" class="navbar navbar-expand-md navbar-light py-0 justify-content-between flex-grow-0 flex-shrink-0 bg-light">
  <a class="navbar-brand" href="/">
    <img src="{% static "playground/images/heartyfun-logo.png" %}" class="logo align-top" alt="Hearty Foundation">
    <span class="d-none d-lg-inline ml-2">Playground</span>
    <img class="beta-icon" src="{% static "playground/images/balloons.png" %}" alt="&beta;"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0 mb-2 mb-md-0 text-right" id="navbarNav">
    {% include "playground/_menu.html" %}

    {% include "playground/_user_button.html" %}
  </div>
</nav>

<!--   overflow-hidden -->
<main class="flex-grow-1" style="border-radius: 8px 8px 0 0; background: #eee;">
  {% block main %}{% endblock %}
</main>

</body>
</html>
