{# Draw empty/full dots progress indicator #}

{% for status in progress %}
<button type="submit" name="next" value="{{ forloop.counter0 }}" class="btn p-0 m-0 btn-link position-relative" {% if forloop.counter0 == current %}disabled{% endif %}>
  <i class="{% if status %}fas{% else %}far{% endif %} fa-circle fa-fw"></i>
  {% if forloop.counter0 == current %}
    <i class="fas fa-sort-up fa-fw" style="position:absolute;left:0"></i>
  {% endif %}
</button>

{% endfor %}
<button type="submit" class="btn p-0 m-0 ml-2 btn-link position-relative">
  <i class="fas fa-medal fa-fw"></i>
</button>
