{# Draw empty/full dots progress indicator #}

<ul class="list-inline m-0">
{% for status in progress %}
  <li class="d-inline-block">
    <i class="{% if status %}fas{% else %}far{% endif %} fa-circle fa-fw"></i>
    {% if forloop.counter0 == current %}
      <i class="fas fa-sort-up fa-fw" style="position:absolute;margin-left:-1.25rem;margin-top:1.25rem"></i>
    {% endif %}
  </li>
{% endfor %}
  <li class="ml-2 d-inline-block">
    <i class="fas fa-medal fa-fw"></i>
    {% if current == -1 %}
      <i class="fas fa-sort-up fa-fw" style="position:absolute;margin-left:-1.25rem;margin-top:1.25rem"></i>
    {% endif %}
  </li>
</ul>
