{% extends "activity_quiz/show.html" %}

{% load static i18n markdown %}

{% block title %}{{ activity.title }}{% endblock %}

{% block quiz_content %}
  <form action="" method="POST">
    {% csrf_token %}
    {% if completed %}
      <h2>You have finished quiz!</h2>
      {% if activity.congratulations %}
        {{ activity.congratulations | markdown }}
      {% else %}
        <p class="lead">{% lorem 20 w random %}</p>
      {% endif %}
      <h2 class="display-4 text-center my-5">Your score: {{ score | floatformat:1}}%</h2>

      <div class="text-center mb-5">
        <button type="submit" name="finish" value="retake" class="btn btn-success btn-lg px-5">Restart Quiz</button>
      </div>
    {% else %}
      <h2>Finish and evaluate!</h2>

      <div class="lead mb-4">
        {% if activity.confirmation_text %}
          {{ activity.confirmation_text | markdown }}
        {% else %}
          {% lorem 30 w random %}
        {% endif %}
      </div>

      <div class="text-center mb-5">
        <button type="submit" name="finish" value="sure" class="btn btn-primary btn-lg px-5">Yes, I am absolutely sure! </button>
      </div>

    {% endif %}

    {% include 'activity_quiz/_navigation.html' with current=total_count %}
  </form>
{% endblock %}
