{% extends 'playground/two_columns.html' %}

{% load i18n %}


{% block top_title %}
  <i class="fas fa-graduation-cap"></i> {% trans "Help" %}
{% endblock %}

{% block left_column %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{% trans "What's the problem?" %}</h5>

      <div class="list-group list-group-flush">
        {% for article in articles %}
          <a href="{% url 'show' article.slug %}" class="list-group-item list-group-item-action{% if article.slug == to_display.slug %} active{% endif %}">
            {{ article.title }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block right_column %}
  <div class="card">
    <div class="card-body">
      <h1>
        {{ to_display.title }}
        <a href="{% url 'admin:help_app_article_change' to_display.pk %}" class="btn btn-sm btn-outline-primary rounded-pill ml-auto">
          <i class="fas fa-pencil-alt"></i> {% trans "Edit" %}
        </a>
      </h1>

      {{ to_display.content_html | safe }}
    </div>
  </div>
{% endblock %}

<!--
<h1 class="text-light bg-primary pt-5" style="background: #eee; padding-bottom: 80px">
  <div class="container">
    <i class="fas fa-graduation-cap"></i> {% trans "Help" %}
  </div>
</h1>

<div class="container p-3" style="margin-top: -80px">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{% trans "What's the problem?" %}</h5>

          <div class="list-group list-group-flush">
            {% for article in articles %}
              <a href="{% url 'show' article.slug %}" class="list-group-item list-group-item-action{% if article.slug == to_display.slug %} active{% endif %}">
                {{ article.title }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h1>
            {{ to_display.title }}
            <a href="{% url 'admin:help_app_article_change' to_display.pk %}" class="btn btn-sm btn-outline-primary rounded-pill ml-auto">
              <i class="fas fa-pencil-alt"></i> {% trans "Edit" %}
            </a>
          </h1>

          {{ to_display.content_html | safe }}
        </div>
      </div>
    </div>
  </div>
</div>
-->
