{% extends 'playground/two_columns.html' %}

{% load i18n markdown %}


{% block title %}{{ article.title }} – {% trans "Help" %}{% endblock %}

{% block top_title %}
  <i class="fas fa-graduation-cap"></i> {% trans "Help" %}
{% endblock %}

{% block left_column %}
  <div class="card">
    <div class="card-body navbar-light navbar-expand-md py-3 py-md-4">
      <h5 class="card-title mb-0 d-flex justify-content-between align-items-center">
        {% trans "What's the problem?" %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#articleListToggler" aria-controls="articleListToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </h5>

      <div class="list-group list-group-flush collapse navbar-collapse mt-2" id="articleListToggler">
        {% for article_link in all_articles %}
          <a href="{% url 'help_app:show' article_link.slug %}" class="list-group-item list-group-item-action{% if article_link.slug == article.slug %} active{% endif %}">
            {{ article_link.title }}
          </a>
        {% endfor %}
        {% if user.is_superuser %}
          <a href="{% url 'admin:help_app_article_add' %}" class="list-group-item list-group-item-action"><i class="fas fa-plus mr-2"></i> Add new article</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block right_column %}
  <div class="card">
    <div class="card-body">
      <h1 class="mb-4">
        {{ article.title }}
        {% if user.is_superuser %}
          <a href="{% url 'admin:help_app_article_change' article.pk %}" class="btn btn-sm btn-outline-primary rounded-pill ml-auto float-right">
            <i class="fas fa-pencil-alt"></i> {% trans "Edit" %}
          </a>
        {% endif %}
      </h1>

      {{ article.content | markdown }}
    </div>
  </div>
{% endblock %}
