{% extends 'playground/two_columns.html' %}

{% load i18n markdown %}


{% block title %}{{ article.title }} – {% trans "Help" %}{% endblock %}

{% block top_title %}
  <i class="fas fa-graduation-cap"></i> {% trans "Help" %}
{% endblock %}

{% block left_column %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{% trans "What's the problem?" %}</h5>

      <div class="list-group list-group-flush">
        {% for article_link in all_articles %}
          <a href="{% url 'help_app:show' article_link.slug %}" class="list-group-item list-group-item-action{% if article_link.slug == article.slug %} active{% endif %}">
            {{ article_link.title }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block right_column %}
  <div class="card">
    <div class="card-body">
      <h1 class="mb-4">
        {{ article.title }}
        {% if user.is_authenticated %}
        <a href="{% url 'admin:help_app_article_change' article.pk %}" class="btn btn-sm btn-outline-primary rounded-pill ml-auto">
          <i class="fas fa-pencil-alt"></i> {% trans "Edit" %}
        </a>
        {% endif %}
      </h1>

      {{ article.content | markdown }}
    </div>
  </div>
{% endblock %}
