{% extends 'activity_quiz/show.html' %}

{% load markdown %}


{% block content %}
{{ question.text | markdown }}

<hr/> 

<input
  class="mt-3 form-control form-control-lg {% if completed %}{% if score == 1.0 %}is-valid{% else %}is-invalid{% endif %}{% endif %}"
  name="answer"
  type="text"
  placeholder="{% if question.placeholder %}{{ question.placeholder }}{% else %}Insert value{% endif %}"
  value="{% if solution %}{{ solution }}{% endif %}"
  onkeydown="preventFormSubmit"
  {% if completed %}disabled{% endif %}
  />
{% if completed %}
<div class="invalid-feedback">
Acceptable answers:
{% for answer in question.answers_set.all %}
  <span class="badge badge-danger">{{ answer.text }}</span>
{% endfor %}
</div>
{% endif %}

<script>
/* https://stackoverflow.com/a/56075247/5822988 */
function preventFromSubmit(keyEvent) {
  if ((keyEvent.charCode || keyEvent.keyCode) === 13) {
    keyEvent.preventDefault();
  }
}
</script>
{% endblock %}
